<!-- Describe task in general -->

<p>
    Є відкрита банка і муха всередині.
    Ця муха літає з боку в бік несамовито, тому що вона дійсно хоче вибратися звідти.
    Твоє завдання - оцінити, чи вдадуться її спроби (повернути <b>{% if is_js %}t{% else %}T{% endif %}rue</b>) або ні (повернути <b>{% if is_js %}f{% else %}F{% endif %}alse</b>).
</p>

<p style="text-align: center;">
    <img  title="fly's in the jar" src="{{MEDIA}}example.png" alt="example" style="max-height: 250px"/>
</p>

<p align="justify">
    Отже, що ми маємо? Баночка представлена прямокутником на малюнку вище. Він має ширину <b>W</b> і висоту <b>H</b>.
    Баночка має отвір розміром <b>d</b>. Наша муха може втекти через нього. Отвір завжди розміщується на верхній частині банки, а банка симетрична.
    Точка <b>O</b> - початкова, вісь <b>y</b> відповідає лівій стороні банки, а вісь <b>x</b> - нижній стороні банки. Товщиною стінок можна знехтувати.
</p>

<p align="justify">
    Початкове положення мухи визначається <b>x0</b> та <b>y0</b>, які присвоюються довільно. Але гарантовано, що муха знаходиться всередині банки на той момент, коли ми почнемо спостереження.
    На самому початку муха летить лінійно, <b>vx</b> і <b>vy</b> - горизонтальний та вертикальний компоненти вектора швидкості відповідно.
    Коли муха потрапляє в стіну, вона відбивається від неї і летить у зворотньому напрямку (як більярдна куля). Малюнок вище ілюструє, як це виглядає.
    Крім того, є одна крихітна деталь: Після кожного зіткнення муха втрачає 5 % своєї початкової витривалості, втомлюючись (швидкість залишається однаковою). Тож після 20 зіткнень муха стає повністю виснаженою.
    Розміром мухи можна знехтувати.
</p>


<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong><br />
    Два {% if is_js %}масива{% else %}списка{% endif %} цілих чисел:
    <ul>
        <li>перший містить розміри банки [W, H, d];</li>
        <li> другий - характеристики мухи [x0, y0, vx, vy].</li>
    </ul>
</p>

<p>
    <strong>Вихідні дані:</strong> Логічне (булеве) значення.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<!-- Here you can explain how it can be used in development -->

<!-- The section is optional -->
<p>
    <strong>Передумови:</strong><br />
    Усі розміри наведені в абстрактних одиницях, швидкості наведені в одиницях/сек.
    <ul>
        <li>W ∈ [100; 1000];</li>
        <li>H ∈ [W; 4W];</li>
        <li>d ∈ [0.1W; 0.8W];</li>
        <li>x0 ∈ [0; W];</li>
        <li>y0 ∈ [0; H];</li>
        <li>vx ∈ (-2W; 2W);</li>
        <li>vy ∈ (-2H; 2H);</li>
        <li>V != 0.</li>
    </ul>
</p>

