<!-- Describe task in general -->

<p>
    Представьте себе открытую банку внутри которой летает муха, которая хочет выбраться оттуда и мечется из стороны в сторону.
    Вашей задачей будет определить, получится ли у неё выбраться из банки (вернуть {% if is_js %}t{% else %}T{% endif %}rue) или нет (вернуть {% if is_js %}f{% else %}F{% endif %}alse).
</p>

<p style="text-align: center;">
    <img  title="муха в банке" src="{{MEDIA}}example.png" alt="example" style="max-height: 250px"/>
</p>

<p align="justify">
    Итак, что у нас есть? Банка представлена прямоугольником с шириной <b>W</b> и высотой <b>H</b> на схеме сверху.
    У банки имеется горло шириной <b>d</b> через которое муха может вылететь наружу. Горло банки всегда находится сверху, а сама банка всегда осесимметрична.
    Точка <b>O</b> является точкой начала координат, при этом ось <b>Y</b> проходит вдоль левой стороны банки, а ось <b>X</b> - вдоль её дна. Толщиной стенок следует пренебречь.
</p>

<p align="justify">
    Начальное положение мухи в банке определяется произвольными координатами <b>x0</b> и <b>y0</b>, но при этом гарантируется, что муха находится внутри банки в тот момент, когда мы начинаем за ней наблюдать.
    Муха летает всегда летает прямолинейно, <b>Vx</b> и <b>Vy</b> являются горизонтальной и вертикальной составляющими вектора скорости соответственно.
    Когда муха ударяется о стенку, она отскакивает от неё и и продолжает движение уже в противоположном направлении (как бильярдный шар). Схемы сверху иллюстрируют, как это работает.
    Кроме того, после каждого соударения со стенкой муха устаёт и теряет 5% выносливости (скорость при этом остаётся неизменной).
    Таким образом, после 20 столкновений со стенками банки муха теряет все свои силы и не может выбраться из банки.
    Размерами мухи нужно пренебречь.
</p>


<!-- Explain input and output values -->
<p>
    <strong>Входные данные:</strong><br />
    Два {% if is_js %}массива{% else %}списка{% endif %} с целыми числами:
    <ul>
        <li>в первом содержатся размеры банки [W, H, d];</li>
        <li>во втором - характеристики мухи [x0, y0, vx, vy].</li>
    </ul>
</p>

<p>
    <strong>Выходные данные:</strong> Логическое (булево) значение.
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Примеры:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


<!-- Here you can explain how it can be used in development -->

<!-- The section is optional -->
<p>
    <strong>Предварительные условия:</strong><br />
    Все размеры даются в одинаковых абстрактных единицах длины (аед), скорости даются в аед/с.
    <ul>
        <li>W ∈ [100; 1000];</li>
        <li>H ∈ [W; 4W];</li>
        <li>d ∈ [0.1W; 0.8W];</li>
        <li>x0 ∈ [0; W];</li>
        <li>y0 ∈ [0; H];</li>
        <li>vx ∈ (-2W; 2W);</li>
        <li>vy ∈ (-2H; 2H);</li>
        <li>V != 0.</li>
    </ul>
</p>